#manage-booking {
  height: 75vh;
  .title {
    margin: 20px 0px;
    font-size: 18px;
  }
  .booking-list {
    border-collapse: collapse;
    width: 100%;
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    .list-btn {
      display: flex; 
      gap: 10px;
      justify-content: center;
    }

    button {
      display: inline-block;
      width: 130px;
      height: 60px;
      padding: 0 5px;
      border-radius: 16px;
      background-color: #ff827c;
      color: white;
      font-size: 16px;
      line-height: 1.25;
      cursor: pointer;
      transition: all 0.25s ease-in;
      &:hover {
        opacity: 0.5;
      }
      &:disabled {
        background-color: gray;
        color: black;
        cursor: unset;
      }
    }
  }

  .mask {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

  }

    .detailed-description {
      z-index: 111;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  
      display: none;
      width: 500px;
      background-color: white;
      padding: 16px;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .icon-close{
          cursor: pointer;
        }
      }
      .swiper {
        width: 100%;
        height: 100%;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .swiper-slide img {
        object-fit: cover;
      }

      .description-infor {
        display: flex;
        flex-direction: column;
        .info {
          div {
            margin: 10px 0;
            .text {
              font-size: 16px;
              line-height: 1.25;
            }
          }
        }
      }

      .description-content {
        height: 150px;
        .text {
          font-size: 16px;
          line-height: 1.25;
        }
      }
    }
  }

